.container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: aqua;
    column-gap: 60px;
    padding: 6px;
 
}
.container div{
    background-color: azure;
    color: blue;
    border:  blue;
    text-align: center;
    padding: 30px;
    font-size: 10px;
}